<!DOCTYPE html>
<html ng-app="squarefabricApp" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <link rel="icon" href="favicon.ico">

        <title>Square Fabric</title>

        <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="static/style.css"/>

    </head>

    <body ng-controller="SquarefabricCtrl">

      <div class="container">
        <div id="alertbox" class="alert {{userAlertType}}" ng-show="userMessage !== ''" role="alert">
          <center>
            <b>
              {{userMessage}}
            </b>
          </center>
        </div>
      </div>

      <div sfmenu></div>

      <div class="row">
        <div class="col-md-12">

          <div sfcloud ng-if="isActivePanel('cloud')" class="col-md-4 col-md-offset-4"></div>

          <div sfpieceslist ng-if="isActivePanel('settings')" class="col-md-12"></div>

          <div sfproject ng-if="isActivePanel('project')" class="col-md-12"></div>

        </div>
      </div>


      <div class="layout well handle" ng-show="isActivePanel('layout')">
        <center>
          <h3>
            <b>{{currentProject.name}}</b>
          </h3>
          <p>{{_('Required fabric length')}} : <b>{{maxHeight}}</b></p>
        </center>
        <p>{{currentProject.description}}</p>
        <div class="rectangleHover"></div>
        <canvas id="canvas"></canvas>
      </div>

      <div ng-show="isActivePanel('about')" class="alert alert-info">
          <p>
            <img src="static/icon.png" class="logo"/>
            {{_('Square fabric')}} by utopman V{{version}}
          </p>
      </div>


      <script type="text/javascript" src="static/bower_components/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="static/bower_components/angularjs/angular.min.js"></script>
      <script type="text/javascript" src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="static/bower_components/paper/dist/paper-core.min.js"></script>
      <script type="text/javascript" src="static/i18n.js"></script>
      <script type="text/javascript" src='static/firebase.js'></script>
      <script type="text/javascript" src='static/angularfire.min.js'></script>
      <script type="text/javascript" src="bin-packing/js/packer.js"></script>
      <script type="text/javascript" src="static/packingmanager.js"></script>
      <script type="text/javascript" src="static/app.js"></script>
      <script type="text/javascript" src="static/directives/menu/directive.js"></script>
      <script type="text/javascript" src="static/directives/pieceslist/directive.js"></script>
      <script type="text/javascript" src="static/directives/cloud/directive.js"></script>
      <script type="text/javascript" src="static/directives/project/directive.js"></script>

    </body>
</html>