<!DOCTYPE html>
<html ng-app="squarefabricApp" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <link rel="icon" href="favicon.ico">

        <title>Square Fabric</title>

        <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="static/style.css"/>

    </head>

    <body ng-controller="SquarefabricCtrl">

      <div class="container">
        <div id="alertbox" class="alert {{userAlertType}}" ng-show="userMessage !== ''" role="alert">
          <center>
            <b>
              {{userMessage}}
            </b>
          </center>
        </div>
      </div>

      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                <a href="index.html">
                  <img src="static/icon.png" class="logo"/>
                  {{_('Square fabric')}}
                </a>
              </li>
              <li ng-class="{active: isActivePanel('project')}">
                <a ng-click="togglePanel('project')" href="#">{{_('Project')}}</a>
              </li>
              <li ng-class="{active: isActivePanel('settings')}">
                <a ng-click="togglePanel('settings')" href="#">{{_('Settings')}}</a>
              </li>
              <li ng-class="{active: isActivePanel('piece')}" >
                <a ng-click="togglePanel('piece')" href="#">{{_('Piece')}}</a>
              </li>
              <li ng-class="{active: isActivePanel('list')}">
                <a ng-click="togglePanel('list')" href="#">{{_('List')}}</a>
              </li>
              <li ng-class="{active: isActivePanel('layout')}">
                <a ng-click="togglePanel('layout')" href="#">{{_('Layout')}}</a>
              </li>
              <li ng-class="{active: isActivePanel('info')}">
                <a ng-click="togglePanel('info')" href="#">{{_('Info')}}</a>
              </li>
              <li>
                <a href="#" ng-show="currentProject.name">{{_('Current project')}} {{currentProject.name | limitTo : 15}}</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ng-class="pull-rigth">
                <a ng-click="toggleLanguage('fr')" href="#"><img src="static/fr.gif"/></a>
              </li>
              <li ng-class="pull-rigth">
                <a ng-click="toggleLanguage('en')" href="#"><img src="static/en.gif"/></a>
              </li>
              <li ng-class="pull-rigth">
                <a ng-click="saveWorkingSpace()" href="#" title="{{_('Save')}}">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                </a>
              </li>
              <li ng-class="pull-rigth">
                <a ng-click="togglePanel('cloud')" href="#" title="{{_('Manage remote data')}}">
                  <span class="glyphicon glyphicon-retweet"></span>
                </a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ng-class="pull-rigth">
                <a ng-click="showAbout()" href="#">
                  <span class="glyphicon glyphicon-info-sign"></span> {{_('About')}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container-fluid">

        <div class="row">

          <form ng-show="isActivePanel('settings')" class="well col-md-2">
            <h4>{{_('Settings')}}</h4>
            <div class="form-group">
              <label>{{_('Laize')}}</label>
              <input ng-model="laize" type="number" class="form-control" placeholder="{{_('Laize')}}">
            </div>
            <div class="form-group">
              <label>{{_('Coefficient')}}</label>
              <input ng-model="coefficient" min="1" max="5" step="0.25" type="range" class="form-control">
              {{coefficient}}
            </div>
            <center>
              <div class="form-group">
                <button class="btn btn-success" ng-click="optimize()">{{_('Arrange')}}</button>
              </div>
              <div class="form-group">
                <button class="btn btn-warning" ng-click="mock()">{{_('Fake pieces')}}</button>
              </div>
              <div class="form-group">
                <button class="btn btn-danger" ng-click="clear()">{{_('Reset')}}</button>
              </div>
            </center>
          </form>

          <form ng-show="isActivePanel('cloud')" class="well col-md-4">
            <h4>{{_('Cloud data management')}}</h4>
            <p>{{_('Allow project information share between computers')}}</p>
            <div class="form-group">
              <label>{{_('Username')}}</label>
              <input ng-model="uploadUser" type="text" class="form-control" placeholder="{{_('username')}}">
            </div>
            <div class="form-group">
              <label>{{_('Password')}}</label>
              <input ng-model="uploadPassword" type="password" class="form-control" placeholder="{{_('password')}}">
            </div>
            <center>
              <div class="form-group">
                <button class="btn btn-default" ng-click="downloadProjects()">{{_('Download')}}</button>
              </div>
              <div class="form-group">
                <button class="btn btn-default" ng-click="uploadProjects()">{{_('Upload')}}</button>
              </div>
            </center>
          </form>

          <div ng-show="isActivePanel('info')" class="well col-md-2">
            <h4>{{_('Info')}}</h4>
            <table class="table">
              <tr>
                <td>{{_('Name')}}</td>
                <td>{{hoveritem.name}}</td>
              </tr>
              <tr>
                <td>X</td>
                <td>{{hoveritem.fit.x}}</td>
              </tr>
              <tr>
                <td>Y</td>
                <td>{{hoveritem.fit.y}}</td>
              </tr>
              <tr>
                <td>{{_('Width')}}</td>
                <td>{{hoveritem.w}}</td>
              </tr>
              <tr>
                <td>{{_('Height')}}</td>
                <td>{{hoveritem.h}}</td>
              </tr>
            </table>
            <div ng-show="maxHeight" class="alert alert-info">
              <center>{{_('Total height')}} {{maxHeight}}
              </center>
            </div>
          </div>

          <form ng-show="isActivePanel('piece')" class="well col-md-2">
            <h4>{{_('Piece edition')}}</h4>
            <div class="form-group">
              <label>{{_('Width')}}</label>
              <input ng-model="currentPiece.w" type="number" class="form-control" placeholder="{{_('Piece width')}}">
            </div>
            <div class="form-group">
              <label>{{_('Height')}}</label>
              <input ng-model="currentPiece.h" type="number" class="form-control" placeholder="{{_('Piece height')}}">
            </div>
            <div class="form-group">
              <label>{{_('Name')}}</label>
              <input ng-model="currentPiece.name" type="text" class="form-control" placeholder="{{_('Piece name')}}">
            </div>
            <center>
              <button type="submit" class="btn btn-default" ng-click="setPiece()">{{_('Set piece')}}</button>
            </center>
          </form>

          <form ng-show="isActivePanel('project')" class="well col-md-4">
            <h4>{{_('Project edition')}}</h4>
            <div ng-show="currentProject">
              <div class="form-group">
                <label>{{_('Project name')}}</label>
                <input ng-model="currentProject.name" type="text" class="form-control" placeholder="{{_('Project name')}}">
              </div>
              <div class="form-group">
                <label>{{_('Description')}}</label>
                <textarea cols="20" rows="7" ng-model="currentProject.description" class="form-control" placeholder="{{_('Description')}}"></textarea>
              </div>
            </div>
            <center>
              <button type="submit" class="btn btn-primary btn-xs" ng-click="newProject()">
                <span class="glyphicon glyphicon-list"></span>
                {{_('New project')}}
              </button>
            </center>
          </form>

          <div ng-show="isActivePanel('project')" class="table-responsive">
            <table class="table table-striped col-md-2">
              <tr>
                <th>{{_('Name')}}</th>
                <th>{{_('Description')}}</th>
                <th>{{_('Actions')}}</th>
              </tr>
              <tr ng-repeat="project in projects">
                <td>{{project.name}}</td>
                <td>{{project.description | limitTo : 30}}</td>
                <td>
                  <button class="btn btn-default btn-sm" ng-click="editProject(project)" title="{{_('edit')}}">
                    <span class="glyphicon glyphicon-edit"></span>
                  </button>
                  <button class="btn btn-default btn-sm" ng-click="removeProject($index)" title="{{_('remove')}}">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>



          <div ng-show="isActivePanel('list')" class="table-responsive">
            <table class="table table-striped col-md-2">
              <tr>
                <th>{{_('Piece')}}</th>
                <th>{{_('Width')}}</th>
                <th>{{_('Height')}}</th>
                <th>{{_('X')}}</th>
                <th>{{_('Y')}}</th>
                <th>{{_('Name')}}</th>
                <th>{{_('Edit')}}</th>
              </tr>
              <tr ng-repeat="piece in currentProject.pieces">
                <td>{{$index + 1}}</td>
                <td>{{piece.w}}</td>
                <td>{{piece.h}}</td>
                <td>{{piece.fit.x}}</td>
                <td>{{piece.fit.y}}</td>
                <td>{{piece.name}}</td>
                <td>
                  <button class="btn btn-default btn-sm" ng-click="updatePiece(piece)" title="{{_('update')}}">
                    <span class="glyphicon glyphicon-edit"></span>
                  </button>
                  <button class="btn btn-default btn-sm" ng-click="removePiece($index)" title="{{_('remove')}}">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="layout well handle" ng-show="isActivePanel('layout')">
          <div class="rectangleHover"></div>
          <canvas id="canvas"></canvas>
        </div>

        <div ng-show="isActivePanel('about')" class="alert alert-info">
            <p>
              <img src="static/icon.png" class="logo"/>
              {{_('Square fabric')}} by utopman V{{version}}
            </p>
        </div>

      </div>

      <script type="text/javascript" src="static/bower_components/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="static/bower_components/angularjs/angular.min.js"></script>
      <script type="text/javascript" src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="static/i18n.js"></script>
      <script type="text/javascript" src='static/firebase.js'></script>
      <script type="text/javascript" src='static/angularfire.min.js'></script>
      <script type="text/javascript" src="bin-packing/js/packer.js"></script>
      <script type="text/javascript" src="static/packingmanager.js"></script>
      <script type="text/javascript" src="static/app.js"></script>

    </body>
</html>