<form class="well col-md-2">

  <div class="row">
    <p>{{_('Required fabric length')}} : <b>{{maxHeight}}</b></p>
    <h4>{{_('Settings')}}</h4>
    <div class="form-group">
      <label>{{_('Laize')}}</label>
      <input ng-model="$parent.currentProject.laize" type="number" class="form-control" placeholder="{{_('Laize')}}">
    </div>
    <center>
      <button class="btn btn-default btn-sm" ng-click="runOptimize()">{{_('Apply')}}</button>
    </center>
  </div>

  <div class="row">
    <h4>{{_('Piece edition')}}</h4>
    <div class="form-group">
      <label>{{_('Width')}}</label>
      <input ng-model="currentPiece.w" type="number" class="form-control" placeholder="{{_('Piece width')}}">
    </div>
    <div class="form-group">
      <label>{{_('Height')}}</label>
      <input ng-model="currentPiece.h" type="number" class="form-control" placeholder="{{_('Piece height')}}">
    </div>
    <div class="form-group">
      <label>{{_('Name')}}</label>
      <input ng-model="currentPiece.name" type="text" class="form-control" placeholder="{{_('Piece name')}}">
    </div>
    <div class="form-group">
      <label>{{_('Piece amount')}}</label>
      <input ng-model="pamount" type="number" class="form-control" placeholder="{{_('Piece amount')}}">
    </div>
    <center>
      <button type="submit" class="btn btn-info btn-sm" ng-click="setPiece()">{{_('Set piece')}}</button>
    </center>
  </div>
</form>

<div class="table-responsive col-md-10">
  <table class="table table-striped">
    <tr>
      <th>{{_('Piece')}}</th>
      <th>{{_('Width')}}</th>
      <th>{{_('Height')}}</th>
      <th>{{_('X')}}</th>
      <th>{{_('Y')}}</th>
      <th>{{_('Name')}}</th>
      <th>{{_('Edit')}}</th>
    </tr>
    <tr ng-repeat="piece in currentProject.pieces">
      <td>{{$index + 1}}</td>
      <td>{{piece.w}}</td>
      <td>{{piece.h}}</td>
      <td>{{piece.fit.x}}</td>
      <td>{{piece.fit.y}}</td>
      <td>{{piece.name}}</td>
      <td>
        <button class="btn btn-default btn-sm" ng-click="updatePiece(piece)" title="{{_('update')}}">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
        <button class="btn btn-default btn-sm" ng-click="removePiece(piece)" title="{{_('remove')}}">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </td>
    </tr>
  </table>
</div>