body {
  padding-top: 60px;
}

.showRect{
	border:1px solid #333;
	position:absolute;
}

.clear{
	clear:both;
}

.layout{
	position:absolute;
	left: 0px;
}

.rectangleHover{
	display: none;
	background: #ea4b55;
	position:absolute;
	width: 30px;
	height: 30px;
	text-align: center;
}

.handle {
	cursor: move;
}

.logo {
	width:30px;
	height:30px;
	background: #eee;
	padding: 3px;
	border-radius: 3px;
}