body {
  padding-top: 60px;
}

#canvas{
	border:1px solid #999;
}

.showRect{
	border:1px solid #333;
	position:absolute;
}

.clear{
	clear:both;
}

.layout #canvas{
	width: 210mm;
    height: 594mm;
}

.rectangleHover{
	display: none;
	background: #ea4b55;
	position:absolute;
	width: 30px;
	height: 30px;
	text-align: center;
}

.handle {
	cursor: move;
}

.logo {
	width:30px;
	height:30px;
	background: #eee;
	padding: 3px;
	border-radius: 3px;
}