<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="index.html">
            <img src="static/icon.png" class="logo"/>
            {{_('Square fabric')}}
          </a>
        </li>
        <li ng-class="{active: isActivePanel('project')}">
          <a ng-click="togglePanel('project')" href="#">{{_('Project')}}</a>
        </li>
        <li ng-class="{active: isActivePanel('settings')}">
          <a ng-click="togglePanel('settings')" href="#">{{_('Edition')}}</a>
        </li>
        <li ng-class="{active: isActivePanel('layout')}">
          <a ng-click="togglePanel('layout')" href="#">{{_('Layout')}}</a>
        </li>
        <li>
          <a href="#" ng-show="currentProject.name">{{currentProject.name | limitTo : 15}}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ng-click="toggleLanguage('fr')" href="#"><img src="static/fr.gif"/></a>
        </li>
        <li>
          <a ng-click="toggleLanguage('en')" href="#"><img src="static/en.gif"/></a>
        </li>
        <li>
          <a ng-click="saveWorkingSpace()" href="#" title="{{_('Save')}}">
            <span class="glyphicon glyphicon-floppy-disk"></span>
          </a>
        </li>
        <li>
          <a ng-click="togglePanel('cloud')" href="#" title="{{_('Manage remote data')}}">
            <span class="glyphicon glyphicon-retweet"></span>
          </a>
        </li>
        <li>
          <a ng-click="print()" href="#" title="{{_('print')}}">
            <span class="glyphicon glyphicon-print"></span>
          </a>
        </li>
        <li>
          <a ng-click="showAbout()" href="#">
            <span title="{{_('About')}}"class="glyphicon glyphicon-info-sign"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>